body {
    font-family: 'Roboto', helvetica, sans-serif;

}

.top-blue {
    background-color: #1F2937 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #1F2937 ;
    font-size: 24px;
    color: #F9faf8;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border : 1px solid red;

}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;

}

.header ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F2937 ;
    font-size: 18px;
    color: #e5e7eb;
    margin: 70px 0px;
    flex: 1 1 auto;
}

.awesome {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9faf8;
    margin:0;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    padding: 8px 30px;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 5px ;
    border: none;
}

.top-image {
    background-color: #737982;
    padding: 120px 100px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}


.random h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.information {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;

}

.information img {
    border: 4px solid #3882f6;
    padding: 80px 40px;
    border-radius: 15px;
    color: white;
    text-align: center;
}