* {
    box-sizing: border-box;    
}

body {
    font-family: 'Roboto', helvetica, sans-serif;

}

/* Part I : Header and Awesome part taken together */

.top-blue {
    background-color: #1F2937 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Ci dessus: Fonctionne car il y a un div supplémentaire pour centrer le tout */

.block {
    width: 1000px;
}

.header {
    background-color: #1F2937 ;
    font-size: 24px;
    color: #F9faf8;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;


}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;

}

.header ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    display: flex;
    gap: 20px;
}



.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F2937 ;
    font-size: 18px;
    color: #e5e7eb;
    height: 500px;

}

.awesome {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9faf8;
    margin:0;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    padding: 8px 30px;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 5px ;
    border: none;
}

.top-image {
    background-color: #737982;
    padding: 120px 100px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

/* Part II : Random information */

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}


.random h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 60px;
}

.information {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
    width: 800px ;
}

.information img {
    border: 4px solid #3882f6;
    padding: 50px 50px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

/* Part III : Quote */

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspire {
    font-style: italic;
    font-weight: 200 ;
    font-size: 36px;
    color: #1F2937;
    padding: 50px;
    width: 800px;
}

.author {
    font-weight: 900;
    text-align: right;
    font-size: 24px;
}


/* Part IV : Call to action */

.cta {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}



.cta-banner {
    width: 1000px;
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-radius: 7px;
    
}


.cta-banner button {
    border : 2px solid white;
    color: white;
    border-radius: 7px;
    padding: 8px 35px;
}

/* Part V : Footer */

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}